
.idea/*

eureka-admin-sample/eureka-admin-sample-client-a/eureka-admin-sample-client-a.iml

*.iml

eureka-admin-starter-server/target/*

eureka-admin-utils/target/*

eureka-admin-starter-server/target/*
eureka-admin-starter-server/target/classes/*
eureka-admin-utils/target/classes/cn/springcloud/eureka/http/HttpUtil.class

eureka-admin-utils/target/classes/cn/springcloud/eureka/http/HttpUtil.class

eureka-admin-utils/target/classes/cn/springcloud/eureka/http/HttpUtil$TrustAnyHostnameVerifier.class
