<div class="am-cf am-padding-xs">
	<div class="am-fl am-cf">
		<strong class="am-text-primary am-text-lg"> Eureka Admin</strong> / <small>Dashboard</small>
	</div>
</div>
<ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-4 am-margin-xs am-padding-xs am-text-center admin-content-list ">
	<li>
		<a href="javascript:void(0);" class="am-text-success">
			<span class="am-icon-btn am-icon-user"></span><br />
			Service Count<br />
			<span id="appCount" class="countView"></span>
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" class="am-text-warning">
			<span class="am-icon-btn am-icon-briefcase"></span><br />
			Node Count<br />
			<span id="nodeCount" class="countView"></span>
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" class="am-text-secondary">
			<span class="am-icon-btn am-icon-recycle"></span><br />
			Available Node Count<br />
			<span id="enableNodeCount" class="countView"></span>
		</a>
	</li>

	<li>
		<a href="https://eureka-udb-test.huya.info/" target="_blank" class="am-text-secondary">
			<span class="am-icon-btn am-icon-recycle"></span><br />
			eureka自带链接<br />
			<span id="eurekaSelfLink" class="countView"></span>
		</a>
	</li>
</ul>

<div id="listContainer" class="am-margin-top am-text-left">

</div>

<script>
(function(){
	$(function(){
		$.ajax({
			url: '/eureka/home',
			type: 'get',
			dataType: 'json',
			success: function(data){
				$('.countView').each(function(){
					$(this).text(data[$(this).attr('id')] || 'empty');
				});

				// 设置 eurekaSelfLink 跳转链接
				if (data.eurekaSelfLink) {
					$('#eurekaSelfLink').parent('a').attr('href', data.eurekaSelfLink);
				}
			}
		});
	});

	$('.countView').parent('a').eq(0).on('click', function() {
		$.ajax({
			url: '/eureka/getServiceList',
			type: 'get',
			dataType: 'json',
			success: function(data) {
				// 假设 data.list 是数组
				console.log("data.serviceList:", data.serviceList);
				// alert(data.serviceList.join('\n')); // 简单弹窗展示
				// 或者你可以把内容插入到页面某个元素
				var serviceList = '';
				data.serviceList.forEach(function(service) {
					serviceList = serviceList + service + '<br>';
				});
				console.log("serviceList"+serviceList);
				$('#listContainer').html(serviceList); // 将数组转换为字符串并显示在页面上
			}
		});
	});
})();
</script>